//
    zp
- if(contest)
    .col-lg-12.col-md-12.col-sm-12.text-center
        - for (var i = 0 ; i < contest.problems.length ; ++i)
            a.btn.btn-default(href= "../../problem/" +contest.problems[i].contest_problem_list.order + "/index") #{contest.problems[i].contest_problem_list.order}