//
    Created by zp on 15-5-26.
extends ../layout
block title
    - var whichpage = "查看代码"
    title #{whichpage}
    //title #{title}
block content
   // button(onclick=renderCode("12312312#3123123123"));
block script

    script(src="/js/coderender.js")