//
   Created by lmy on 15-5-19.
   form 表单
      - name 申请的小组的名字
      - description 申请的小组的简介
extends ../layout

block title
    - var whichpage = "申请创建小组"
    title #{whichpage}

block content
    .col-lg-2
        a.button.btn.btn-default(href="/group/index") 返回小组列表
    .col-lg-8
        h3 申请创建小组
        form(method='post')
            .form-group
                label.sr-only(for="name") 小组名称
                input.form-control(type="input", id="name", name='name', placeholder="输入小组名称")
            .form-group
                label.sr-only(for="description") 小组简介
                textarea.form-control(type="input", rows="10", id="description", name='description', placeholder="输入小组简介")
            button.btn.btn-default(type="submit") 提交
    .col-lg-2