//-
   Created by lmy on 15-5-20.
   group
      - name 课程名字
      - description 课程简介
      - creator 课程创建者,与user的属性相同

extends ../layout

block title
    - var whichPage = "课程信息"
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include ./group.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        - if ( user && !isMember )
            a.button.btn.btn-default(href="join" style="margin-top:20px") 申请加入该课程
        //-- else
            a.button.btn.btn-default(href="quit") 退出该课程
        if(group)
            h3 #{group.name}的课程简介
            textarea.form-control#fuck_br(readonly="true", rows = "10", style="resize: none;max-height: 300px;width: 100%;") #{group.description}
    .col-lg-2.col-md-2.col-sm-2.col-xs-12