//-
   Created by lmy on 15-5-20.
   group
      - name 小组名字
      - description 小组简介
      - creator 小组创建者,与user的属性相同

extends ../layout

block title
    - var whichPage = "小组信息"
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include ./group.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        - if ( user && !isMember )
            a.button.btn.btn-default(href="join" style="margin-top:20px") 申请加入该小组
        //-- else
            a.button.btn.btn-default(href="quit") 退出该小组
        if(group)
            h3 #{group.name}的小组简介
            p.containing #{group.description}
    .col-lg-2.col-md-2.col-sm-2.col-xs-12