//
   Created by zp on 15-5-21.
a.button.btn.btn-default(href="/group") 查看所有小组
br
a.button.btn.btn-default(href="/group") 大学教学小组
br
a.button.btn.btn-default(href="/group") 大学竞赛小组
br
a.button.btn.btn-default(href="/group") 其他个人小组
br
a.button.btn.btn-default(href="/group/create") 申请创建小组
br