//
   Created by lmy on 15-5-20.
   groups 小组的列表
      - groups[i] 每一个单独的小组即group
         - group 小组实体
            - name 小组的名字
            - id   小组的ID
            - description 小组的简介
extends ../layout

block title
    title 所有小组

block content
    .col-lg-2
        include ./group.jade
    .col-lg-8
        h3 所有小组
        table.container-fluid(class = "table table-striped")
            tr
                td.col-lg-3
                    label 小组的名称
                td.col-lg-3
                    label 创建者昵称
                td.col-lg-6
                    label 小组的介绍
            - for(var i = 0 ; i < groups.length ; ++i) {
            tr
                td.col-lg-3
                    a(href="/group/#{groups[i].id}")= groups[i].name
                td.col-lg-3
                    a(href="/user/#{groups[i].creator.id}")= groups[i].creator.nickname
                td.col-lg-6
                    a(href="/user/#{groups[i].creator.id}")= groups[i].creator.description
            - }
    .col-lg-2
