//
   Created by lmy on 15-5-20.
   groups 小组的列表
      - groups[i] 每一个单独的小组即group
         - group 小组实体
            - name 小组的名字
            - id   小组的ID
            - description 小组的简介
extends ../layout

block title
    - var whichpage = "所有小组"
    title #{whichpage}
    link(rel='styleSheet', href='/stylesheets/group/index.css')

block content
    //.col-lg-2
        a.button.btn.btn-default(href="/group") 查看所有小组
        br
        a.button.btn.btn-default(href="/group") 大学教学小组
        br
        a.button.btn.btn-default(href="/group") 大学竞赛小组
        br
        a.button.btn.btn-default(href="/group") 其他个人小组
        br
        a.button.btn.btn-default(href="/group/create") 申请创建小组
        br
    .col-lg-2
        .list-group
            a.list-group-item(href="/group/create") 申请创建小组
    .col-lg-8
        h3 所有小组
        table.table.table-striped.containing
            tr
                td.col-lg-3
                    label 小组名称
                td.col-lg-3
                    label 创建者昵称
                td.col-lg-6
                    label 小组简介
                    //TODO:此页面需要小组的人数，不需要小组简介
            - for(var i = 0 ; i < groups.length ; ++i)
                tr
                    td.col-lg-3
                        a(href="/group/#{groups[i].id}" + "/index")= groups[i].name
                    td.col-lg-3
                        a(href="/user/#{groups[i].creator.id}"+ "/index")= groups[i].creator.nickname
                    td.col-lg-6
                        p #{groups[i].description}
    .col-lg-2