//
   Created by lmy on 15-5-20.
   groups 小组的列表
      - groups[i] 每一个单独的小组即group
         - group 小组实体
            - name 小组的名字
            - id   小组的ID
            - description 小组的简介
extends ../layout

block title
    - var whichPage = "所有小组"
    title #{whichPage}
    link(rel='styleSheet', href='/stylesheets/group/index.css')

block content
    .col-lg-2
        .list-group
            a.list-group-item(href="/group/create") 申请创建小组
    .col-lg-8
        h3 所有小组
        if(groups)
            table.table.table-striped.containing
                tr
                    td.col-lg-3
                        label 小组名称
                    td.col-lg-3
                        label 创建者昵称
                    td.col-lg-6
                        label 小组人数
                - for(var i = 0 ; i < groups.length ; ++i)
                    tr
                        td.col-lg-3
                            a(href="/group/#{groups[i].id}" + "/index")= groups[i].name
                        td.col-lg-3
                            a(href="/user/#{groups[i].creator.id}"+ "/index")= groups[i].creator.nickname
                        td.col-lg-6
                            if(groups[i].users)
                                a(href="/group/#{groups[i].id}" + "/member")= groups[i].users.length
    .col-lg-2