//
    Created by lmy on 15-5-21.

extends ../layout

block title
    - var whichPage = "小组成员"
    title #{whichPage}

block content
    .col-lg-2
        include ./group.jade
    .col-lg-8
        if(group)
            h3 #{group.name}的小组成员
            table(class = "table table-striped").containing
                tr
                    td 昵称
                    td 身份
                - for (var i = 0 ; i < group.users.length ; ++i)
                    - var member = group.users[i]
                    tr
                        td
                            a(href= "/user/" + member.id + "/index") #{member.nickname}
                        td #{member.membership.access_level}
            .row
                .col-lg-12.col-md-12.col-sm-12
                    - if(!pageLimit)
                        - pageLimit = 100;
                    - if(!offset)
                        - offset = 0;
                    - var prevOffset = offset - pageLimit;
                    - if(prevOffset < 0)
                        - prevOffset = 0;
                    - var nextOffset = offset - 0 + pageLimit;
                    - if(offset>0)
                        a.button.btn.btn-default(href="./member?offset=" + prevOffset) 上一页
                    a.button.btn.btn-default(href="./member") 首页
                    - if(group.users.length == pageLimit)
                        a.button.btn.btn-default(href="./member?offset=" + nextOffset) 下一页
    .col-lg-2