//-
    Created by lmy on 15-5-21.

extends ../layout

block title
    - var whichPage = "课程成员"
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include ./group.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        if(group)
            h3 #{group.name}的课程成员
            - var oddEvenTable = "odd"
            - var access_level_array = {owner: '课程所属者', admin: '管理员', member: '课程成员'}
            table.table.table-striped.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;")
                tr#group-title-tr-member
                    td 昵称
                    td 身份
                - for (var i = 0 ; i < group.users.length ; ++i)
                    tr(id="tr" + i)
                        td
                            a(href= "/user/" + group.users[i].id + "/index") #{group.users[i].nickname}
                        td #{access_level_array[group.users[i].membership.access_level]}
            //-.row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    - if(!pageLimit)
                        - pageLimit = 100;
                    - if(!offset)
                        - offset = 0;
                    - var prevOffset = offset - pageLimit;
                    - if(prevOffset < 0)
                        - prevOffset = 0;
                    - var nextOffset = offset - 0 + pageLimit;
                    - if(offset>0)
                        a.button.btn.btn-default.loginbtn.btnstyle(href="./member?offset=" + prevOffset) 上一页
                    a.button.btn.btn-default.loginbtn.btnstyle(href="./member") 首页
                    - if(group.users.length == pageLimit)
                        a.button.btn.btn-default.loginbtn.btnstyle(href="./member?offset=" + nextOffset) 下一页
    .col-lg-2.col-md-2.col-sm-2.col-xs-12