//
   Created by lmy on 15-5-28.

extends ../layout
block title
   - var whichpage = "小组题目"
   title #{whichpage}
block content
   .col-lg-2
      include ./group.jade
   .col-lg-8
      h3 小组题目
      table(class = "table table-striped").containing
         tr
            td 题目ID
            td 题目标题
         - for (var i = 0 ; i < problems.length ; ++i)
            - var problem = problems[i]
            tr
               td #{problem.id}
               td
                  a(href= "/problem/#{problem.id}/index") #{problem.title}

   .col-lg-2