//
    Created by zp on 15-5-26.
extends ../layout
block title
    - var whichPage = "查看代码"
    title #{whichPage}
    //title #{title}
block content
    // button(onclick=renderCode("12312312#3123123123"));
    pre.
        #{submission.submission_code.content}
    script(src="/js/coderender.js")