//-
    Created by zp on 15-5-26.
extends ../layout
block title
    - var whichPage = "查看代码"
    title #{whichPage}

block content
    script(src="/js/coderender.js")
    pre.text-left(id="usercode") #{submission.submission_code.content}
        //-script document.write(renderCode(document.getElementById("usercode").value));
        //-script document.write(renderCode("#{submission.submission_code.content}"));