<nav class="navbar navbar-default" ng-include="'detail/nav.html'"></nav>


<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <h4>{{Contest.data.title}}</h4>
    <div class="form-horizontal">
        <a class = "normal-color list-group-item" href="#/{{contestId}}" >简介</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item" href="#/{{contestId}}/problems">题目</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item" href="#/{{contestId}}/rank">排名</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item active" href="#/{{contestId}}/submissions">我的提交</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item" href="#/{{contestId}}/issues">提问&&公告</a>
    </div>
    <!--<div ng-show="isPage('problem')" ng-include="'detail/problem-left.html'">-->
    <!--</div>-->
    <div class="text-center" ng-include="'detail/time.html'"></div>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <td>编号</td>
                <td>题目</td>
                <td>结果</td>
                <td>得分</td>
                <td>语言</td>
                <td>代码长度</td>
                <td>耗时</td>
                <td>内存</td>
                <td>提交时间</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="submission in Submission.data" ng-class="change_submission_color(submission.result, $index)">
                <td><a href="/submission/{{submission.id}}" target="_blank">{{submission.id}}</a></td>
                <td>
                    <a ng-click="setProblem(Contest.idToOrder[submission.problem_id])" href="#/{{contestId}}/problems">
                        {{numberToLetters(Contest.idToOrder[submission.problem_id])}}
                    </a>
                </td>
                <td><label ng-class="change_submission_result_color(submission.result)" id="result_{{$index}}" onmouseover="$('#'+this.id).popover('show')" onmouseout="$('#'+this.id).popover('hide')" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content={{submission.detail}}>{{submission.result | result}}</label></td>
                <td>{{submission.score}}</td>
                <td>{{submission.lang}}</td>
                <td>{{submission.code_length}}</td>
                <td>{{submission.time_cost}}</td>
                <td>{{submission.memory_cost}}</td>
                <td>{{submission.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>