<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" style="margin-top:10px">
        <h4 style="display: inline-block">公告：</h4>
    </div>
</label>

<div ng-repeat="data in Issue.data">
    <div ng-show="(Contest.idToOrder[data.problem_id] === order ||  data.problem_id == null) && data.access_level === 'public'">
        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'label-info':data.issue_replies.length>0}" style="cursor:pointer;border:1px solid #DDDDDD;" ng-click="change_question_list($index)">{{data.title}}</label>
        <div ng-show="query_question_list($index)">
            <label>公告内容：<textarea class="form-control" disabled>{{data.content}}</textarea></label>
            <label ng-show="data.issue_replies.length>0">回复内容：</label>
            <textarea class="form-control" ng-repeat="reply in data.issue_replies" disabled>{{reply.content}}</textarea>
        </div>
    </div>
</div>

<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" style="margin-top:10px">
        <h4 style="display: inline-block">我的提问：</h4>
        <button class="btn btn-success pull-right" type="button" ng-click="show_question_area()">{{question_title}}</button>
    </div>
</label>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="is_question">
    <div class="row">
        <input type="form" class="form-control" placeholder="提问标题" ng-model="question_form.title">
        <textarea type="form" class="form-control" rows="5" placeholder="提问内容" ng-model="question_form.content"></textarea>
        <button type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" ng-click="submit_question_form(order)">提问</button>
    </div>
</div>

<div ng-repeat="data in Issue.data">
    <div ng-show="Contest.idToOrder[data.problem_id] === order && data.access_level === 'protect'">
        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'label-info':data.issue_replies.length>0}" style="cursor:pointer;border:1px solid #DDDDDD;" ng-click="change_question_list($index)">{{data.title}}</label>
        <div ng-show="query_question_list($index)">
            <label>提问内容：<textarea class="form-control" disabled>{{data.content}}</textarea></label>
            <label ng-show="data.issue_replies.length>0">回复内容：</label>
            <textarea class="form-control" ng-repeat="reply in data.issue_replies" disabled>{{reply.content}}</textarea>
        </div>
    </div>
</div>
