<nav class="navbar navbar-default" ng-include="'detail/nav.html'">
</nav>


<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <h4>{{Contest.data.title}}</h4>
    <div class="form-horizontal">
        <a class = "normal-color list-group-item" href="#/{{contestId}}" >简介</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item active" href="#/{{contestId}}/problems">题目</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item" href="#/{{contestId}}/rank">排名</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item" href="#/{{contestId}}/submissions">我的提交</a>
        <a ng-if="Contest.data.start_time < ServerTime.data" class = "normal-color list-group-item" href="#/{{contestId}}/issues">提问&&公告</a>
    </div>
    <!--<div ng-show="isPage('problem')" ng-include="'detail/problem-left.html'">-->
    <!--</div>-->
    <div class="text-center" ng-include="'detail/time.html'"></div>

    <div ng-include="'detail/detail-question.html'"></div>
</div>

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div>
        <a ng-click="setProblem($index)" ng-repeat="problem in Contest.data.problems" class="btn btn-default" ng-class="{'active':isProblem($index), 'btn-danger': tried($index) && !accepted($index), 'btn-success': accepted($index)}">
            {{numberToLetters($index)}}
        </a>

        <!-- Button trigger modal -->
        <div class="pull-right">
            <h5 style="display: inline-block" ng-if="Rank.statistics.myRank">
                当前排名
                <code>
                    {{Rank.statistics.myRank}}
                </code>
            </h5>

            <button ng-if="Contest.data.end_time >= ServerTime.data" class = "btn btn-primary btn-lg" data-toggle = "modal" data-target = "#myModal">
                提交
            </button>

            <a ng-if="Contest.data.end_time < ServerTime.data" href="/problem/{{Contest.data.problems[order].id}}/index">
                <button  class = "btn btn-primary btn-lg">
                    去做题
                </button>
            </a>
        </div>
    </div>
    <div>
        <h1 class="text-center problem-title">
            <code>{{numberToLetters(order)}}</code>
            {{Contest.data.problems[order].title}}</h1>
        <div class="problem-limit">
            <p class="text-center">时间限制：{{Contest.data.problems[order].test_setting.time_limit}}ms &nbsp 内存限制：{{Contest.data.problems[order].test_setting.memory_limit}}kb</p>
        </div>
        <div>
            <p class="text-center">
                通过率：{{Rank.statistics.acceptedPeopleCount[numberToLetters(order)]}}/{{Rank.statistics.triedPeopleCount[numberToLetters(order)]}}
                <code>
                    ({{Rank.statistics.acceptedPeopleCount[numberToLetters(order)]/Rank.statistics.triedPeopleCount[numberToLetters(order)]*100 | number:2}}%)
                </code>&nbsp&nbsp
                正确率：{{Rank.statistics.acceptedPeopleCount[numberToLetters(order)]}}/{{Rank.statistics.triedSubCount[numberToLetters(order)]}}
                <code>
                    ({{Rank.statistics.acceptedPeopleCount[numberToLetters(order)]/Rank.statistics.triedSubCount[numberToLetters(order)]*100 | number:2}}%)
                </code>
            </p>
        </div>
        <div class="markdown-body" ng-bind-html="Contest.data.problems[order].description | marked"></div>
    </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <p class="text-center">
        <code>{{numberToLetters(order)}}</code>
        提交记录：
    </p>
    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <td>ID</td>
            <td>结果</td>
            <td>时间</td>
            <td>内存</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="submission in Submission.data | filter:{problem_id:Contest.data.problems[order].id}:true" ng-class="change_submission_color(submission.result, $index)">
            <td><a href="/submission/{{submission.id}}" target="_blank">{{submission.id}}</a></td>
            <td ng-class="change_submission_result_color(submission.result)" ng-if="!check_submission_is_running(submission.result)">{{submission.result}}</td>
            <td ng-class="change_submission_result_color(submission.result)" ng-if="check_submission_is_running(submission.result)"><img src="img/waiting.gif" width="20px" height="20px"></td>
            <td>{{submission.time_cost}}</td>
            <td>{{submission.memory_cost}}</td>
        </tr>
        </tbody>
    </table>
<!--<p ng-repeat="submission in Submission.data | filter:{problem_id:Contest.data.problems[order].id}:true">{{submission.result}}</p>-->
</div>



<!-- form -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
     aria-labelledby = "myModalLabel" aria-hidden = "true">

    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                    &times;
                </button>

                <h4 class = "modal-title" id = "myModalLabel">
                    交给{{numberToLetters(order)}}题的代码
                </h4>
                <p>
                    该题通过率为
                    <code>
                        {{Rank.statistics.acceptedPeopleCount[numberToLetters(order)]/Rank.statistics.triedSubCount[numberToLetters(order)]*100 | number:2}}%
                    </code>
                </p>
                <h4>系统将于00:00进行10-15分钟的维护，届时会关闭服务器，给大家带来不便请见谅。</h4>
                <label style="color:red;font-size:14px;">
                    提交须知：“确认提交”后本题的评测结果将在30分钟左右自动返回（根据系统运行情况，时间可能提前或推迟），请接着做下一题，不要傻傻地站在原地等待该题的反馈，也不要去刷新页面（只会越刷新越着急，越不出结果）！
                </label>
            </div>

            <div class = "modal-body">
                <label for="lang">语言:</label>
                <select id="lang" name="lang" class="form-control" ng-model="form.lang" required>
                    <option ng-repeat="lang in Contest.data.problems[order].test_setting.supported_languages.split(',')" value="{{lang}}">{{lang}}</option>
                </select>
                <label for="code" >代码:</label>
                <textarea class="form-control" rows="20" name="code" id="code" ng-model="form.code"></textarea>
            </div>

            <div class = "modal-footer">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                    关闭
                </button>

                <button type = "button" class = "btn btn-primary" data-dismiss = "modal" ng-click="submit(order)">
                    提交
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->