
extends layout

block title
    - var whichPage = "出错啦"
    title #{whichPage}

block script
    link(rel='stylesheet', type='text/css', href='/error_game_files/game.css')

block content
    - if(error)
        h1.text-center #{error.status} #{error.message}
    - else
        h1.text-center 404 Not Found!
    h1.text-center 小OJ提醒您可以休息一下！
    br
    .row.text-center
        canvas#stage
    script.
        var __stage = document.getElementById('stage');
        __stage.setAttribute("width", 400 + 'px');
        __stage.setAttribute("height", 600 + 'px');
        $('body').bind('keypress', getKeyCode);
        function getKeyCode(e) {
            var evt = e || window.event;
            var keyCode = evt.keyCode || evt.which || evt.charCode;
            if(keyCode == 32){
            }
        }
    script(src='/error_game_files/game.js')