//-
   Created by lmy on 15-9-25.

extends ./layout
block title
   - var whichPage = "反馈"
   title #{whichPage}
block content
   .col-lg-2.col-md-2.col-sm-2.col-xs-12
      //-.list-group
          a.list-group-item(href="/group/index") 返回课程列表
   .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h3
            | 欢迎您在
            a(href='https://github.com/LiangMingyang/OJ4TH_FEEDBACK/issues') 我们的反馈主页
            | 提issue
        textarea#fuck_br.form-control(readonly='true', rows='10', style='resize: none; max-height: 300px; width: 100%; overflow: hidden; word-wrap: break-word; height: 130px;', data-autosize-on='true')
            |如果您对在线编程平台有更好的意见或者有重要的信息，请联系我们&#13;&#10;
            |开发者团队：
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lmysoar@hotmail.com
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;842675357@qq.com
   .col-lg-2.col-md-2.col-sm-2.col-xs-12