extends ./layout

block title
    - var whichPage = "OJ4TH"
    title #{whichPage}

block content
    .containing
        h1 北航在线编程
        h3.col-lg-10.col-md-10.col-sm-10.col-xs-12.text-left(style="margin-top:20px;font-family:'Microsoft YaHei', 微软雅黑")
            - if(user)
                | HI,#{user.nickname}，欢迎来到北航在线编程内测版
                br
                | 你已经光荣的成为了一名内测用户
                br
                | 有什么BUG可以点击上方的反馈，也可以直接联系开发者
                br
                | lmysoar@hotmail.com
                br
                | 842675357@qq.com
                br
           // p(style="margin-top:20px;")
                | 如大家所见，功能已经基本实现但界面不够优秀
                br
                | 所以招募美工童鞋一起来开发整个工程
                br
                | 有意者可发邮件至
                br
                |lmysoar@hotmail.com
                br
                |842675357@qq.com
                br

        //-.col-lg-6
        //-    h4.text-center 正在进行的比赛......
        //-
        //-.col-lg-6
        //-    h4.text-center(href="/group") 活跃的小组......
        //-.carousel.slide(data-ride="carousel", id="mycarousel")
        //-    ol.carousel-indicators
        //-        li.active(data-target="#mycarousel" data-slide-to="0")
        //-        li(data-target="#mycarousel" data-slide-to="1")
        //-        li(data-target="#mycarousel" data-slide-to="2")
        //-    .carousel-inner(role="listbox").crspic
        //-        .item.active
        //-            img.crspic(src="/images/firstslide.jpg", alt="First Slide")
        //-        .item
        //-            img.crspic(src="/images/secondslide.jpg", alt="Second Slide")
        //-        .item
        //-            img.crspic(src="/images/thirdslide.jpg", alt="Third Slide")
        //-    a.left.carousel-control(href="#mycarousel" role="button" data-slide="prev")
        //-        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        //-        span.sr-only Previous
        //-    a.right.carousel-control(href="#mycarousel" role="button" data-slide="next")
        //-        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        //-        span.sr-only Next
