doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="keywords", content="OJ,Online Judge,ACM,BUAA,beihang,评测,教学,BUAAOJ,beihangoj,OJ4TH,北航OJ,北航ACM,最好用的OJ,最好用的在线评测系统,编程,学编程,怎么学编程,OJ3rd,北航软件学院")
        meta(name="author", content="北航程序设计与算法研究实验室")
        meta(name="generator", content="Ghost 0.5")
        meta(name="renderer", content="webkit")
        meta(name="referrer", content="always")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href="/stylesheets/bootstrap-theme.min.css")
        link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/Glyphicons.min.css')
        block title
            - var whichPage = "OJ4TH"
            title #{whichPage}
        script(src="/js/jquery-2.1.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/autosize.min.js")
        script(src="/js/ga.js")
        block script
    body(style="background-color:white;")
        .container-fluid(id="container")
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .row
                        block navbar
                            nav#navbar.navbar.navbar-default
                                .container-fluid
                                    .navbar-header
                                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                            span.sr-only Toggle navigation
                                            span.icon-bar
                                            span.icon-bar
                                            span.icon-bar
                                        a#logo.navbar-brand(href='/index', data-toggle='popover', data-trigger='focus', data-placement='bottom', data-content='') BUAA ONLINE JUDGE
                                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                        //-navbar里面的功能部分显示在导航栏logo旁边
                                        ul.nav.navbar-nav.navbar-middle
                                            li.normalli
                                                a(href="/index", id="indexpage", class="nav-before") 主页
                                            li.normalli
                                                a(href="/group/index", id="grouppage", class="nav-before") 课程
                                            li.normalli
                                                a(href="/problem/index", id="problempage", class="nav-before") 题库
                                            li.normalli
                                                a(href="/contest/index", id="contestpage", class="nav-before") 比赛
                                            //-li.normalli
                                                a(href="/submission/index", id="submissionpage", class="nav-before") 评测记录
                                            li.normalli
                                                a(href="/rank/index", id="rankpage", class="nav-before") 排行榜
                                            - if(user)
                                                li.normalli
                                                    a(href="/problem/accepted", id="solution", class="nav-before") 写题解
                                                li.normalli
                                                    a(href="/user/" + user.id + "/index", id="informationpage", class="nav-before") 个人信息
                                            li.normalli
                                                a(href="/feedback/index", id="feedbackpage", class="nav-before") 反馈
                                            //-li.normalli
                                                a(href="http://biancheng.love:800", id="bcpc-rating", class="nav-before") 2016集训排名
                                            //-li.normalli
                                                a(href="https://buaacoding.cn/acm-register/", id="bcpc", class="nav-before",target="_blank") 2018ACM集训报名
                                            li.normalli
                                                a(href="/bcpc/index.html", id="bcpc-join", class="nav-before",target="_blank") 第十四届北航程设竞赛
                                        ul.nav.navbar-nav.navbar-right
                                            - if(user)
                                                li.normalli
                                                    a(href="/user/" + user.id + "/index") 欢迎，#{user.nickname}
                                                li.normalli
                                                    a(href="/user/logout", id="logoutpage", class="nav-before") 登出
                                            - else if(whichPage !== "登录")
                                                li.normalli
                                                    a(href="/user/login", id="loginpage", class="nav-before") 登录
                                                li.normalli
                                                    a(href="/user/register", id="registerpage", class="nav-before") 注册
                                        - if(whichPage == "注册")
                                            script $("#registerpage").attr("class", "nav-change");
                                        - else if(whichPage == "登录")
                                            script $("#loginpage").attr("class", "nav-change");
                                        - else if(whichPage == "")
                                            script $("#logoutpage").attr("class", "nav-change");
                                        - else if(whichPage == "帮助")
                                            script $("#helppage").attr("class", "nav-change");
                                        - else if(whichPage == "所有评测记录"||whichPage == "查看代码")
                                            script $("#submissionpage").attr("class", "nav-change");

                                        - else if(whichPage == "排行榜")
                                            script $("#rankpage").attr("class","nav-change");
                                        - else if(whichPage == "系统消息")
                                            script $("#messegepage").attr("class", "nav-change");
                                        - else if(whichPage == "个人信息"||whichPage == "修改信息"||whichPage == "修改密码")
                                            script $("#informationpage").attr("class", "nav-change");
                                        - else if(whichPage == "赛事列表"||whichPage == "赛事信息"||whichPage == "比赛题目信息"||whichPage == "比赛题目评测记录"||whichPage == "比赛提交记录"||whichPage == "课程比赛"||whichPage == "比赛排名"||whichPage == "出比赛")
                                            script $("#contestpage").attr("class", "nav-change");
                                        - else if(whichPage == "题目列表"||whichPage == "题目信息"||whichPage == "评测记录"||whichPage == "查看代码"||whichPage == "课程题目"||whichPage == "出题")
                                            script $("#problempage").attr("class", "nav-change");
                                        - else if(whichPage == "申请创建课程"||whichPage == "课程信息"||whichPage == "所有课程"||whichPage == "课程成员"||whichPage == "课程题目"||whichPage == "管理课程"||whichPage == "管理课程成员"||whichPage == "管理课程题目"||whichPage == "管理课程比赛")
                                            script $("#grouppage").attr("class", "nav-change");
                                        - else if(whichPage == "反馈")
                                            script $("#feedbackpage").attr("class", "nav-change");
                                        - else
                                            script $("#indexpage").attr("class", "nav-change");
                        .alert-success
                            - if (messages.info)
                                .message.info
                                    script $("#logo").attr("data-content","#{messages.info}");
                                    script $("#logo").popover('show');
                                    script setTimeout(function () {$("#logo").popover('hide');}, 3000);
                    .row.minheight(id="page")
                        block content
                    script.
                        $(document).ready(function () {
                            $(".minheight").css("min-height", ($(window).height() - 140) + "px");
                            //-$("body").css({"background-image":'-webkit-gradient(linear,left bottom,left top,color-stop(0.1,#B7DAEE),color-stop(0.95,#fff))'});
                            //-$("body").css({"background-image": "url(/images/ba.png)"});
                        });
                        $(window).resize(function () {
                            $(".minheight").css("min-height", ($(window).height() - 140) + "px");
                        });
                        function logoAlert(information) {
                            $("#logo").attr("data-content",information);
                            $("#logo").popover('show');
                            setTimeout(function () {$("#logo").popover('hide');}, 3000);
                        }
                        autosize(document.querySelectorAll('textarea'));
                    .row(id="footer")
                        footer.footer
                            br
                            p.text-center
                                | College of Software, Beihang University
