//
    Created by lmy on 15-5-15.
extends layout
block content
    form(method='post')
        h1 LOGIN
        h2 username
        input(type='input' name='username')
        h2 password
        input(type='password' name='password')
        br
        input(type='submit')
