//-
   Created by lmy on 15-9-25.

extends ./layout
block title
   - var whichPage = "通知"
   title #{whichPage}
block content
   .col-lg-2.col-md-2.col-sm-2.col-xs-12
      //-.list-group
          a.list-group-item(href="/group/index") 返回课程列表
   .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h1.
            北航ACM程序设计实验室研究助理（Research Assistant）招聘启示
        h2.
            项目名称：基于题解的知识推荐系统
            项目描述：通过online judge数据，学习用户行为和题解内容开发知识架构层面的推荐系统
        h2.
            项目优势：
        h3.
            1. 一手的真实的数据
            2. 良好的软硬件环境、充足的资金支持
            3. 由软件学院宋老师及其研究生、计算机学院牛老师及其博士生联合指导
        h2.
            主要研究方向：
        h3.
            1. 知识谱系构建
            2. 文本信息挖掘
            3. 机器学习
            4. 有限状态自动机
        h2.
            可能的收获：
        h3.
            1. 提升项目实践经验
            2. 锻炼研究能力
            3. 认识一堆大牛
            4. 可以作为本科毕设
            5. 对研究工作达到一定贡献，可以在发表的论文中署名
            6. 具备软件学院研究生推免条件并报考软件学院，在软件学院的研究生录取中重点推荐
            7. 根据研究工作参与情况，适当给予科研津贴奖励
        h2.
            主要任务：
        h3.
            1. 参与基于Python和JavaScript技术的应用系统或项目开发
            2. 必要的数据筛选和整理
            3. 文档的编制编写
            4. 研究与调研
            5. 服从老师和学长的其他工作安排
        h2.
            招聘条件：
        h3.
            1. 全校二、大三学生，软件技术较好，学习能力较强，学有余力
            2. 热爱学习，热爱技术，热爱钻研，热爱生活
            3. 有明确的个人发展规划，积极追求进步
            4. 主动积极，踏实肯干，责任心强，不挑任务，听从指挥
            5. 项目的开发研究每周约需要至少20小时，确保有足够的投入时间
   .col-lg-2.col-md-2.col-sm-2.col-xs-12