//
   Created by heavenduke on 15-5-18.

extends layout
block user
   form(method='post')
      h2 nickname
         input(type='input' name='nickname' value=user.nickname)
         br
      h2 school
         input(type='input' name='school' value=user.school)
         br
      h2 college
         input(type='input' name='college' value=user.college)
         br
      h2 description
         input(type='input' name='description' value=user.description)
         br
      input(type='submit')