//-
    Created by lmy on 15-5-15.
extends ../layout

block title
    - var whichPage = "登录"
    title #{whichPage}

block content
    .col-lg-3.col-md-3.col-sm-3.col-xs-3
    .col-lg-6.col-md-6.col-sm-6.col-xs-6
        form.containing(method='post')
            h3(style='color:black;') 登录
            .form-group
                label.sr-only(for='email') 邮箱
                input#email.form-control(type='email', name='username', placeholder='输入邮箱')
            .form-group
                label.sr-only(for='password') 密码
                input#password.form-control(type='password', name='password', placeholder='输入密码')
            input(type='hidden', name='returnUrl', value="#{returnUrl}")
            //- value为网站主页
            button.btn.btn-default.loginbtn.btnstyle(type='submit') 登录
            a.button.btn.btn-default.loginbtn.btnstyle(href='./register') 注册
            //-a.button.btn.btn-default.loginbtn.btnstyle(href='./resetpw') 找回密码
    .col-lg-3.col-md-3.col-sm-3.col-xs-3