//
    Created by lmy on 15-5-15.
extends ../layout
block content
    .col-lg-6
        h3 登录
        form(method='post')
            .form-group
                label.sr-only(for="email")邮箱
                input.form-control(type="email", id="email", name='username', placeholder="输入邮箱")
            .form-group
                label.sr-only(for="password")密码
                input.form-control(type="password", id="password", name='password', placeholder="输入密码")
            button.btn.btn-default(type="submit") 登录
            a.button.btn.btn-default(href="/user/register") 注册
            a.button.btn.btn-default(href="/user/resetpw") 找回密码
    .col-lg-6