//
   Created by lmy on 15-5-15.
extends ../layout
block content
    h3 注册
    form(method='post')
    .form-group
        label 邮箱
        input.form-control(type="email", name='username')
    .form-group
        label 密码
        input.form-control(type="password", name='password')
    .form-group
        label 重复密码
        input.form-control(type="password", name='password2')
    .form-group
        label 昵称
        input.form-control(type="input", name='nickname')
    .form-group
        label 学校
        select.form-control(type="input", name='school')
            option(value="北京航空航天大学") 北京航空航天大学
            option(value="北京邮电大学") 北京邮电大学
    .form-group
        label 专业
        select.form-control(type="input", name='college')
            option(value="软件学院") 软件学院
            option(value="计算机学院") 计算机学院
    button.btn.btn-default(type="submit") 注册