//-
   Created by lmy on 15-5-15.
extends ../layout

block title
    - var whichPage = "注册"
    title #{whichPage}

block content
    .col-lg-6.col-md-6.col-sm-6.col-xs-6.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-3
        form#form.containing(method='post')
            h3(style='color:black;') 注册
            .form-group
                label.sr-only(for='email') 邮箱
                input#email.form-control(type='email', name='username', placeholder='输入邮箱')
            .form-group
                label.sr-only(for='password') 密码
                input#password.form-control(type='password', name='password', placeholder='输入密码')
            .form-group
                label.sr-only(for='password2') 重复密码
                input#password2.form-control(type='password', name='password2', placeholder='重复密码')
            .form-group
                label.sr-only(for='nickname') 昵称
                input#nickname.form-control(type='input', name='nickname', placeholder='输入昵称，不超过30个字符')
            .form-group
                label.sr-only 学校
                select.form-control(type='input', name='school')
                    option(value='-----') 请选择
                    option(value='北京航空航天大学') 北京航空航天大学
                    option(value='北京大学') 北京大学
                    option(value='清华大学') 清华大学
                    option(value='北京化工大学') 北京化工大学
                    option(value='北京交通大学') 北京交通大学
                    option(value='北京科技大学') 北京科技大学
                    option(value='北京理工大学') 北京理工大学
                    option(value='北京师范大学') 北京师范大学
                    option(value='北京邮电大学') 北京邮电大学
                    option(value='集训队') 集训队
                    option(value='其他邀请') 其他邀请
                    option(value='中国传媒大学') 中国传媒大学
                    option(value='中国地质大学') 中国地质大学
            .form-group
                label.sr-only 专业
                select.form-control(type='input', name='college')
                    option(value='-----') 请选择
                    option(value='士谔书院') 士谔书院
                    option(value='守锷书院') 守锷书院
                    option(value='知行书院') 知行书院
                    option(value='致真书院') 致真书院
                    option(value='汇融书院') 汇融书院
                    option(value='士嘉书院') 士嘉书院
                    option(value='冯如书院') 冯如书院
                    option(value='北京学院') 北京学院
                    option(value='材料科学与工程学院') 材料科学与工程学院
                    option(value='电子信息工程学院') 电子信息工程学院
                    option(value='自动化科学与电气工程学院') 自动化科学与电气工程学院
                    option(value='能源与动力工程学院') 能源与动力工程学院
                    option(value='航空科学与工程学院') 航空科学与工程学院
                    option(value='计算机学院') 计算机学院
                    option(value='机械工程及自动化学院') 机械工程及自动化学院
                    option(value='经济管理学院') 经济管理学院
                    option(value='数学与系统科学学院') 数学与系统科学学院
                    option(value='生物与医学工程学院') 生物与医学工程学院
                    option(value='人文社会科学学院（公共管理学院）') 人文社会科学学院（公共管理学院）
                    option(value='外国语学院') 外国语学院
                    option(value='交通科学与工程学院') 交通科学与工程学院
                    option(value='可靠性与系统工程学院') 可靠性与系统工程学院
                    option(value='宇航学院') 宇航学院
                    option(value='飞行学院') 飞行学院
                    option(value='仪器科学与光电工程学院') 仪器科学与光电工程学院
                    option(value='物理科学与核能工程学院') 物理科学与核能工程学院
                    option(value='法学院') 法学院
                    option(value='软件学院') 软件学院
                    option(value='高等工程学院') 高等工程学院
                    option(value='中法工程师学院') 中法工程师学院
                    option(value='国际学院') 国际学院
                    option(value='新媒体艺术与设计学院') 新媒体艺术与设计学院
                    option(value='化学与环境学院') 化学与环境学院
                    option(value='人文与社会科学高等研究院') 人文与社会科学高等研究院
            .form-group
                img(src = "/api/utils/ccap" onclick="this.src='/api/utils/ccap?code='+Math.random();" )
                label.sr-only(for='captcha') CCPA
                input#captcha.form-control(type='input', name='captcha', placeholder='输入上方验证码')

            button.btn.btn-default.btnstyle(type='button', onclick='checkInformation()') 注册
            script.
                function checkInformation(){
                    if($("#nickname").val().length >= 30){
                        logoAlert("用户昵称过长！");
                    }else{
                        $("#form").submit();
                    }
                }