//
   Created by heavenduke on 15-5-18.

    表单
        -oldPwd 旧密码
        -newPwd 新密码
extends ../layout
block content
    .col-lg-2
        include ./user.jade
    .col-lg-10
        form(method='post')
            .form-group
                label 旧密码
                input.form-control(type="password", name='oldPwd')
            .form-group
                label 新密码
                input.form-control(type="password", name='newPwd')
            .form-group
                label 确认新密码
                input.form-control(type="password", name='confirmNewPwd')
            button.btn.btn-default(type="submit") 确认修改