//-
   Created by heavenduke on 15-5-18.

    表单
        -oldPwd 旧密码
        -newPwd 新密码
extends ../layout

block title
    - var whichPage = "修改密码"
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include ./user.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h3(style='color: #0274af; font-weight: bold;') 修改密码
        form(method='post', id='form')
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="oldPwd")  请输入旧密码：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        input.form-control(type="password", name='oldPwd', id="oldPwd")
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="newPwd")  请输入新密码：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        input.form-control(type="password", name='newPwd', id="newPwd")
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="confirmNewPwd")  请确认新密码：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        input.form-control(type="password", name='confirmNewPwd', id="confirmNewPwd")
            .btn.btn-default.loginbtn.btnstyle(type="button", onclick="checkInformation()") 确认修改
            script.
                function checkInformation(){
                    if($("#newPwd").val() != $("#confirmNewPwd").val()){
                        logoAlert("两次输入的密码不一致！");
                    }else{
                        $("#form").submit();
                    }
                }
    .col-lg-2.col-md-2.col-sm-2.col-xs-12