//
    Created by zp on 15-5-19.
link(rel='stylesheet', href='/stylesheets/user/user.css')

if(user)
    .list-group
        a(class="list-group-item normal-color", id="detail", href="/user/" + user.id + "/index") 个人信息
        a(class="list-group-item normal-color", id="edit", href="/user/" + user.id + "/edit") 修改信息
        a(class="list-group-item normal-color", id="updatepw", href="/user/" + user.id + "/updatepw") 修改密码
    script.
        if("#{whichpage}"=="个人信息")
            $("#detail").attr("class","list-group-item change-color");
        else if("#{whichpage}"=="修改信息")
            $("#edit").attr("class","list-group-item change-color");
        else if("#{whichpage}"=="修改密码")
            $("#updatepw").attr("class","list-group-item change-color");