//
    Created by zp on 15-5-19.
if(user)
    a.button.btn.btn-default(href="/user/" + user.id) 个人信息
    br
    a.button.btn.btn-default(href="/user/" + user.id + "/edit") 修改信息
    br
    a.button.btn.btn-default(href="/user/" + user.id + "/updatepw") 修改密码
    br