//
   Created by heavenduke on 15-5-18.

    表单
        -oldPwd 旧密码
        -newPwd 新密码
extends ../layout

block title
    - var whichPage = "修改密码"
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-2
        include ./user.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-8
        h3 修改密码
        form(method='post').containing
            .form-horizontal
                .form-group
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-right
                        label.control-label(for="oldPwd")  输入旧密码：
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        input.form-control(type="password", name='oldPwd', id="oldPwd")
            .form-horizontal
                .form-group
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-right
                        label.control-label(for="newPwd")  输入新密码：
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        input.form-control(type="password", name='newPwd', id="newPwd")
            .form-horizontal
                .form-group
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-right
                        label.control-label(for="confirmNewPwd")  确认新密码：
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        input.form-control(type="password", name='confirmNewPwd', id="confirmNewPwd")
            .form-horizontal
                .form-group
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-right
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        button.btn.btn-default(type="submit") 确认修改
    .col-lg-2.col-md-2.col-sm-2.col-xs-2