//
   Created by heavenduke on 15-6-4.

extends ../layout

block content
   //.col-lg-2
   //.col-lg-8
   .col-lg-12
      h3 系统消息
      table(class = "table table-striped").containing
         //tr
             td.col-lg-1 题目ID
             td.col-lg-2 所属小组
             td.col-lg-6 题目名称
             td.col-lg-1 难度
             td.col-lg-2 通过率(通过/提交)
         tr
            td 消息ID
            td 消息内容
            td 发送时间
         - for (var i = 0 ; i < messages.length ; ++i)
               tr
               td #{messages[i].id}
               td #{messages[i].content}
               td #{messages[i].created_at}