//-
   Created by heavenduke on 15-6-4.

extends ../layout
block title
    - var whichPage = "系统消息"
    title #{whichPage}

block content
   //-.col-lg-2
   //-.col-lg-8
   .col-lg-12.col-md-12.col-sm-12.col-xs-12
      h3 系统消息
      table(class = "table table-striped", style="border:1px solid #DDDDDD;")
         tr
            td 消息ID
            td 消息内容
            td 发送时间
         - for (var i = 0 ; i < messages.length ; ++i)
               tr
               td #{messages[i].id}
               td #{messages[i].content}
               td #{messages[i].created_at}