li.normalli{
    display: block;
}

a.navbar-brand{
}

/*试图实现footer还没成功*/

.container_fluid{
    min-height: 100%;
    /*margin-bottom: -50px;*/
    /*position: relative;*/
}

/*自行试*/
/*footer{*/
    /*height: 50px;*/
    /*position: fixed;*/
    /*/!*bottom: 0px;*!/*/
    /*border: solid 1px red;*/
/*}*/

/*个人信息左边栏上间距*/
.list-group{
    margin-top: 20px;
}

/*大部分页面右边内容的上间距*/
.containing{
    margin-top: 2.5em;
    margin-left: 18%;
    color: white;
    /*font-family: 'Microsoft YaHei' !important;*/
}

.containing-x{
    margin-top: 2.5em;
    color: white;
    /*font-family: 'Microsoft YaHei' !important;*/
}

.containing-y{
    color: white;
    /*font-family: 'Microsoft YaHei' !important;*/
}
/*导航栏在当前页面时对应的背景色变化*/
.nav-before{
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.nav-change{
    /*目的为了提示当下访问的地址-页面*/
    /*font-size: 20px;*/

    background-color: #0274af;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}


/*导航栏的a,然而还并没有改好*/
li a{
    /*text-decoration:none;*/
}
/*为提示现在访问的地址*/

.list-group-item.normal-color{
    background-color: #ffffff;
}

.list-group-item.change-color{
    background-color: #f5f5f5;
}

.navbar-navbar-top{
    right: 8.33333333%;
    left: 8.33333333%;
}

/*将label标签的粗字号改细*/
label{
    font-weight: normal;
}

/*将导航栏当前页面的选中栏背景色固定了*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #62caf6;
    background-color: #0274af;
}

td.green-td{
    color: #008000;
}

td.yellow-td{
    color: #ffdc35;
}

.loginbtn{
    margin-top: 15px;
    margin-right: 20px;
}

.btnstyle {
    display: inline-block;
    color: #fff;
    width: 100px;
    text-shadow: none;
    font-size: 1em;
    padding: 1em 0.5em;
    letter-spacing: 0.05em;
    border: 0;
    text-transform: none;
    background: #d96354 !important;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btnstyle-in {
    display: inline-block;
    color: #fff;
    text-shadow: none;
    font-size: 1em;
    padding: 1em 0.5em;
    margin-bottom: 0;
    letter-spacing: 0.05em;
    border: 0;
    text-transform: none;
    background: #d96354 !important;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    margin-bottom: 1em;
}

.submitcode{
    font-size: 18px;
}

/*首页轮播图片大小设定*/
.crspic{
    width: 100%;
    height: 600px;
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#container{
    min-height: 100%;
    height: auto;
    position: relative;
}

#page{
    margin: 0 auto;
    /*padding-bottom: 60px;*/
}

.footer{
    background-color: #184e6d;
    color: white;
    position: relative;
    bottom: 0;
    height: 60px;
    clear: both;
    border-top: 1px solid #e1e1e1;
}

.minheight{
    min-height: 0px;
}

.footere{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 83.33333333333%;
}

tr.oddgreentr{
    background-color: #ddffdd;
}

tr.evengreentr{
    background-color: #eeffee;
}

tr.oddredtr{
    background-color: #ffdddd;
}

tr.evenredtr{
    background-color: #ffeeee;
}

tr.oddbluetr{
    background-color: #ddffff;
}

tr.evenbluetr{
    background-color: #eeffff;
}

tr.oddwhitetr{
    background-color: #ffffff;
}

tr.evenwhitetr{
    background-color: #f5f5f5;;
}


td.oddgreentd{
    background-color: #77ff77;
}

td.evengreentd{
    background-color: #77ff77;
}

td.yixiegreentd{
    background-color: #008000;
}

td.oddredtd{
    background-color: #ff7777;
}

td.evenredtd{
    background-color: #ff7777;
}

td.oddbluetd{
    background-color: #77ffff;
}

td.evenbluetd{
    background-color: #77ffff;
}

td.oddwhitetd{
    background-color: #ffffff;
}

td.evenwhitetd{
    background-color: #ffffff;
}


td.greentd{
    color: #008000;
    font-weight: bold;
}

td.redtd{
    color: #ff0000;
    font-weight: bold;

}

td.bluetd{
    color: #0000d0;
    font-weight: bold;
}

td.whitetd{
    color: #333333;
    font-weight: bold;
}

label.greentd{
    color: #008000;
    font-weight: bold;
}

label.redtd{
    color: #ff0000;
    font-weight: bold;

}

label.bluetd{
    color: #0000d0;
    font-weight: bold;
}

label.whitetd{
    color: #333333;
    font-weight: bold;
}

.table-center{
    text-align:center;
    vertical-align:middle;
}

/*原submission.css结束*/

.welcome{
    margin-top: 20px;
}

.submission-title-tr {
    background-color: #184e6d;
    color: white;
}

.problem-title-tr {
    background-color: #184e6d;
    color: white;
}

.contest-title-tr {
    background-color: #184e6d;
    color: white;
}

.group-title-tr {
    background-color: #184e6d;
    color: white;
}

#group-title-tr-member {
    background-color: #184e6d;
    color: white;
}

body {
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.problem-edit-right {
    background-color: #F9FAFB;
}

#problem-description {
    color: #EBD1B7;
    overflow-y: scroll;
    background-color: #36312C;
    height: 500px;
}

#preview {
    background-color: #FFFFFF;
    overflow-y: scroll;
    height: 500px;
}

.contest-create {
    margin-bottom: 10px;
}

td {
    white-space: nowrap;
}

.submission-table {
    /*-webkit-transition:all .25s ease-out;*/
    /*-moz-transition:all .25s ease-out;*/
    /*-ms-transition:all .25s ease-out;*/
    /*-o-transition:all .25s ease-out;*/
    /*transition:all .25s ease-out;*/
}

.page-control {
    position: relative;;
    width: 100%;
    height: 100%;
}

.btn {
    margin-top: 0;
}

.btn-primary {
    margin-right: 5px;
    margin-top: 0;
}

.btn.btn-default {
    margin-right: 5px;
    margin-top: 0;
}

.btn.btn-success {
    margin-right: 5px;
    margin-top: 0;
}

.btn.btn-danger {
    margin-right: 5px;
    margin-top: 0;
}

.btn.btn-warning {
    margin-right: 5px;
    margin-top: 0;
}

.btn.btn-info {
    margin-right: 5px;
    margin-top: 0;
}
/*
.img-page {
    background-image: url(img/over-bg3.png) no-repeat 0 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%; 
}
*/

.rotate-id-div {
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); 	/* IE 9 */
    -moz-transform:rotate(-7deg); 	/* Firefox */
    -webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
    -o-transform:rotate(-7deg); 	/* Opera */
    background-color: #77ffff;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s, -o-transform 1s;
    /*transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;*/
}

.rotate-id-div2 {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	/* IE 9 */
    -moz-transform:rotate(7deg); 	/* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
    background-color: #ff7777;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s, -o-transform 1s;
}

.rotate-id-div3 {
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	/* IE 9 */
    -moz-transform:rotate(7deg); 	/* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
    background-color: #77ff77;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s, -o-transform 1s;
}

.result-transition-after {
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
    transform:rotate(1080deg);
    -ms-transform:rotate(1080deg); 	/* IE 9 */
    -moz-transform:rotate(1080deg); 	/* Firefox */
    -webkit-transform:rotate(1080deg); /* Safari 和 Chrome */
    -o-transform:rotate(1080deg); 	/* Opera */
}