li.normalli{
    display: block;
}

a.navbar-brand{
}

/*试图实现footer还没成功*/
body{
    height: 100%;
    padding-bottom: 50px;
}

.container_fluid{
    min-height: 100%;
    /*margin-bottom: -50px;*/
    /*position: relative;*/
}

/*自行试*/
/*footer{*/
    /*height: 50px;*/
    /*position: fixed;*/
    /*/!*bottom: 0px;*!/*/
    /*border: solid 1px red;*/
/*}*/

/*怡年教*/
.footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: 1rem;
    bottom: 0;
    width: 100%;
    color: #A0A0A0;
    border-top: 1px solid #e1e1e1;
    height: 6rem;
}

/*个人信息左边栏上间距*/
.list-group{
    margin-top: 20px;
}

/*大部分页面右边内容的上间距*/
.containing{
    margin-top: 30px;
}

/*导航栏在当前页面时对应的背景色变化*/
.nav-before{
    background-color: transparent;
}

.nav-change{
    /*此处为沛沛所加，目的为啦提示现在访问的地址*/
    /*font-size: 20px;*/
    background-color: #E2E2E2;
}

/*导航栏的a,然而还并没有改好*/
li a{
    /*text-decoration:none;*/
}
/*此处为沛沛所加，目的为啦提示现在访问的地址*/

.list-group-item.normal-color{
    background-color: #ffffff;
}

.list-group-item.change-color{
    background-color: #f5f5f5;
}

.navbar-navbar-top{
    right: 8.33333333%;
    left: 8.33333333%;
}

/*将label标签的粗字号改细*/
label{
    font-weight: normal;
}

/*将导航栏当前页面的选中栏背景色固定了*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #e5e5e5;
}

td.green-td{
    color: #008000;
}

td.yellow-td{
    color: #ffdc35;
}

.loginbtn{
    margin-right: 20px;
}

.submitcode{
    font-size: 18px;
}