/*
    这个文件为沛沛所创建，一切锅由沛沛来背！-OwO-
*/
tr.oddgreentr{
    background-color: #ddffdd;
}

tr.evengreentr{
    background-color: #eeffee;
}

tr.oddredtr{
    background-color: #ffdddd;
}

tr.evenredtr{
    background-color: #ffeeee;
}

tr.oddbluetr{
    background-color: #ddffff;
}

tr.evenbluetr{
    background-color: #eeffff;
}

tr.oddwhitetr{
    background-color: #ffffff;
}

tr.evenwhitetr{
    background-color: #f5f5f5;
}


td.greentd{
    color: #008000;
    font-weight: bold;
}

td.redtd{
    color: #ff0000;
    font-weight: bold;

}

td.bluetd{
    color: #0000d0;
    font-weight: bold;
}

td.whitetd{
    color: #333333;
    font-weight: bold;
}

.table-center{
    text-align:center;
}