<div class="collapse navbar navbar-collapse navbar-default">
    <ul class="nav navbar-nav navbar-middle">
        <li>
            <a href="/">主页</a>
        </li>
        <li>
            <a href="/group/index">小组</a>
        </li>
        <li>
            <a href="/problem/index">题目</a>
        </li>
        <li class="active">
            <a href="/contest/index">赛事</a>
        </li>
        <li>
            <a href="/submission/index">评测记录</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="user.id">
        <li>
            <a href="/user/{{user.id}}/index">{{user.nickname}}</a>
        </li>
        <li>
            <a href="/user/logout">登出</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="user.id">
        <li>
            <a href="/user/login">登录</a>
        </li>
        <li>
            <a href="/user/register">注册</a>
        </li>
    </ul>

</div>

<div class="col-lg-2">
    <h4>{{contest.title}}</h4>
    <div class="form-horizontal">
        <a class = "normal-color list-group-item" ng-class ="{ 'active':isPage('description') }" ng-click="setPage('description')">简介</a>
        <a class = "normal-color list-group-item" ng-class ="{ 'active':isPage('problem') }" ng-click="setPage('problem')">题目</a>
        <a class = "normal-color list-group-item" ng-class ="{ 'active':isPage('rank') }" ng-click="setPage('rank')">排名</a>
        <a class = "normal-color list-group-item" ng-class ="{ 'active':isPage('submission') }" ng-click="setPage('submission')">我的提交</a>
    </div>
</div>

<div class="col-lg-8" ng-show="isPage('description')">
    <h4>比赛简介</h4>
    <div class="container">{{contest.description}}</div>
</div>

<div class="col-lg-8" ng-show="isPage('problem')" ng-include="'detail/detail-problem.html'">
</div>

<div class="col-lg-2" ng-show="isPage('problem')" ng-include="'detail/problem-right.html'">
</div>

<div class="col-lg-10" ng-show="isPage('rank')" ng-include="'detail/detail-rank.html'">
</div>

<div class="col-lg-8" ng-show="isPage('submission')" ng-include="'detail/detail-submission.html'">
</div>