<div class="text-center">
    <a ng-click="setProblem($index)" ng-repeat="problem in Contest.data.problems" class="btn btn-default" ng-class="{'active':isProblem($index), 'btn-danger': tried($index) && !accepted($index), 'btn-success': accepted($index)}">
        {{numberToLetters($index)}}
    </a>
</div>
<div>
    <h1 class="text-center problem-title">
        <code>{{numberToLetters(order)}}</code>
        {{Contest.data.problems[order].title}}</h1>
    <div class="problem-limit">
        <p class="text-center">时间限制：{{Contest.data.problems[order].test_setting.time_limit}}ms &nbsp 内存限制：{{Contest.data.problems[order].test_setting.memory_limit}}kb</p>
    </div>
    <div>
        <p class="text-center">
            通过率：{{rankStatistics.acceptedPeopleCount[numberToLetters(order)]}}/{{rankStatistics.triedPeopleCount[numberToLetters(order)]}}
            <code>
                ({{rankStatistics.acceptedPeopleCount[numberToLetters(order)]/rankStatistics.triedPeopleCount[numberToLetters(order)]*100 | number:2}}%)
            </code>&nbsp&nbsp
            正确率：{{rankStatistics.acceptedPeopleCount[numberToLetters(order)]}}/{{rankStatistics.triedSubCount[numberToLetters(order)]}}
            <code>
                ({{rankStatistics.acceptedPeopleCount[numberToLetters(order)]/rankStatistics.triedSubCount[numberToLetters(order)]*100 | number:2}}%)
            </code>
        </p>
    </div>
    <div class="markdown-body" ng-bind-html="Contest.data.problems[order].description | marked"></div>
</div>