<div class="text-center">
    <a ng-click="setProblem($index)" ng-repeat="problem in contest.problems" class="btn btn-default" ng-class="{'active':isProblem($index), 'btn-danger': tried($index) && !accepted($index), 'btn-success': accepted($index)}">
        {{numberToLetters($index)}}
    </a>
</div>
<div>
    <h1 class="text-center">{{contest.problems[order].title}}</h1>
    <div class="problem-limit">
        <p class="text-center">时间限制:{{contest.problems[order].test_setting.time_limit}}ms 空间限制:{{contest.problems[order].test_setting.memory_limit}}kb</p>
    </div>
    <div ng-bind-html="contest.problems[order].description | marked"></div>
</div>