if(contest)
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        a(href="./index")
            label.control-label
                h3 #{contest.title}
        if(contest.group && contest.group.name)
            a(href="/group/" + contest.group.id + "/index")
                h5(style="font-size:16px;") #{contest.group.name}