//
   Created by lmy on 15-5-30.
extends ../layout
block title
    - var whichPage = "赛事信息"
    title #{whichPage}
block content
    include contest-title.jade
    .col-lg-2
        include contest.jade
    .col-lg-8
        h3 比赛简介
        if(contest)
            p
                #{contest.description}
    .col-lg-2