//-
   Created by lmy on 15-5-30.
extends ../layout
block title
    - var whichPage = "赛事信息"
    title #{whichPage}
block content
    include contest-title.jade
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include contest.jade
        include time.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h3 比赛简介
        if(contest)
            pre #{contest.description}
    .col-lg-2.col-md-2.col-sm-2.col-xs-12