//
   Created by 明阳 on 2015/6/18.

extends ../layout
block title
    - var whichPage = "提问"
    title #{whichPage}
block content
    include contest-title.jade
    .col-lg-2
        include contest.jade
    .col-lg-8
        form(method='post')
            select(type='input' name='order')
                - for (var i = 0 ; i < contest.problems.length ; ++i)
                    option(value=contest.problems[i].contest_problem_list.order) #{contest.problems[i].contest_problem_list.order}
            textarea(type='input' name='content')
            button 提交
    .col-lg-2
        include time.jade