//
    Created by lmy on 15-6-7.

extends ../layout
block title
    - var whichPage = "比赛排名"
    title #{whichPage}

block content
    include contest-title.jade
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include contest.jade
        include time.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h3 比赛排名
        table(class = "table table-striped", style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;", id="table_of_rank")
            tr.text-center
                td 排名
                td 用户
                td 得分
                td 罚时
                if(contest.problems)
                    - for (var i = 0 ; i < contest.problems.length ; ++i)
                        - var problem = contest.problems[i];
                        td
                            a(href="problem/"+problem.contest_problem_list.order) #{problem.contest_problem_list.order}
            - var rank_js = "";
            - if(rank)
                - rank_js = rank;
        script(src="/js/layout.js")
    script.
        $(rank_onLoad(!{rank_js},"#{contest.problems.length}"));